.curseclient
modlist.html
manifest.json
minecraftinstance.json
mods/
saves/
resourcepacks/
options.txt
logs/
llibrary/
asm/
.mixin.out/
crash-reports/
tv-cache/
journeymap/icon
journeymap/journeymap.log
schematics/
crafttweaker.log
.ReAuth.cfg
usercache.json
usernamecache.json
fancymenu_data/
